{% extends "wagtail_base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
  <main>
    <div class="blog-index">
      <h1>{{ page.title }}</h1>

      <div class="intro">{{ page.intro|richtext }}</div>

      {% for post in page.get_children %}
        <div class="blog">
          <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
          {{ post.specific.intro }}
          {{ post.specific.overview|richtext }}
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
